@import '../../scss/variables.scss';
@import '../../scss/variables.scss';

.footer{
    border-top: 3px solid $emphasis_blue;
    height: 10rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
    @media (min-width: 700px) {
        visibility: hidden;
    }
    .portfolio-icons-container{
        width: 8rem;
        margin-right: 5rem;
        float: right;
        margin-top: 1rem;
        .portfolio-icons{
            width: 3rem;
            height: 3rem;  
        }   
    }
}


   