@import '../../scss/variables.scss';
@import '../../scss/variables.scss';

.footer{
    border-top: 3px solid $emphasis_blue;
    height: 10rem;
    width: 100vw;
    position: absolute;
    bottom: 0;

}