
<app-letter-box (backspace)="onBackspace($event)" *ngFor="let currLetter of letters ; let i = index"           [letter]="currLetter" [index]="i" (userInput)="onLetterInput($event)"></app-letter-box>
<app-pivot-letter (backspace)="deleteLastLetter()" (newUserInput)="onLetterChanged($event)"></app-pivot-letter>
<app-letter-box (backspace)="onBackspace($event)" *ngFor="let currLetter of lettersReversed.reverse() ; let i = index" [letter]="currLetter" [index]="letters.length-i-1" (userInput)="onLetterInput($event)"></app-letter-box>
