<div  [ngClass]="{'rtl':isRightToLeft}">
    <div class="palindrom-container" id="palindrom-container">
        <app-letter-box (replaceLetter)="onEdit($event)" (deletePreviousChar)="onDeletePreviousChar($event)" (moveFocus)="moveFocus($event)" (backspace)="onBackspaceLeft($event)"
            *ngFor="let currLetter of lettersLeft ; let i = index" side="left" [character]="currLetter" [index]="i"
            (characterAdded)="onAddCharLeft($event)" (newUserInput)="onNewCharFromPivot($event)" (characterChanged)="onCharacterChangedLeft($event)" (delete)="deleteLeft($event)">
        </app-letter-box>
        <app-pivot-letter (moveFocus)="moveFocus($event)" (backspace)="backspaceFromPivot()"
            (delete)="deleteFromPivot()" (newUserInput)="onNewCharFromPivot($event)"></app-pivot-letter>
        <app-letter-box (replaceLetter)="onEdit($event)" (deletePreviousChar)="onDeletePreviousChar($event)" (moveFocus)="moveFocus($event)" (backspace)="onBackspaceRight($event)"
            *ngFor="let currLetter of lettersRight; let i = index" side="right" [character]="currLetter" [index]="i"
            (characterAdded)="onAddCharRight($event)" (characterChanged)="onCharacterChangedRight($event)" (delete)="deleteRight($event)">
        </app-letter-box>
    </div>
        <button class="lngDirectionbtn" (click)="switchTextDirection(true)"  *ngIf="isRightToLeft===false">Switch to Right to Left</button>  
    <button class="lngDirectionbtn" (click)="switchTextDirection(false)" *ngIf="isRightToLeft===true">Switch to Left to Right</button>  
</div>

<!-- (changeScreenDirection)=changeScreenDirection($event) [isRightToLeft]="isRightToLeft" -->