@import '../../scss/variables.scss';

.navbar {
  height: 10rem;
  border-bottom: 3px solid $emphasis_blue;
  text-align: center;
  position: relative;

  .menu-items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    width: 100%;
    .title{
      display:inline;
    }
  }

  .portfolio-icons-container {
    float: right;
    width: fit-content;
    margin-right: 5rem;
    @media screen and (max-width: 700px) {
      display:none;
    }
  }
}
