.navbar {
    background-color: #e4cb7d;
    height: 10rem;
    width: 100vw;
    border-bottom: 3px solid #7dd3e4;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;

  }
  