@import '../../scss/variables.scss';


.pivot-box {
  border-radius: 1rem;
  border: 3px solid $emphasis_purple;
  margin-right: 2px;
  margin-left: 2px;
  background-color: $secondary_main_color;

  &:focus {
    border: 3px solid yellow;
    outline: none;
    text-shadow: 0 0 0 $emphasis_red;
  }
}

.expanded {
  cursor: text;
}

.collapsed {
  width: 0px;
  height: 60px;
  padding: 0px;
  border-color: $emphasis_blue;
  cursor: pointer;
}
