.letter-box{
    margin-bottom:5px;
    display: inline-block;  
    position: relative;
    border: none;
    background-color: #FAF4E1;

    &:focus{
        border: 3px solid gold;
        outline: none;
        text-shadow: 0 0 0 red;
    }
}

.punctuation{
    margin-right: 2px;
    margin-left:0px;
    border-bottom: 2px solid #BDE366;
    // background-color: yellow;

}


.space{
    margin-right: 2px;
    margin-left:2px;
    display: block;
    border-bottom:2px solid #A57FE8;

    // border-bottom: 1px solid hotpink;
}    


.letter{
    // border-bottom: 1px solid darkblue;
    margin-right: 2px;
    margin-left:2px;
    border: 2px solid #7FD7E8;
    border-radius: 4px;


}

.hidden{
    visibility: hidden;
}