.letter-box{
    font-weight: bold;
    border-radius: 9px;
    font-size: 20px;
    border: 3px solid red;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
    margin-bottom:5px;
    display: inline-block;  
    color: transparent;
    text-shadow: 0 0 0 black;
    position: relative;
    &:focus{
        border: 3px solid gold;
        outline: none;
        text-shadow: 0 0 0 red;
    }
}


