@import '../../scss/variables.scss';

.letter-box{
    display: inline-block;  
    position: relative;
    border: none;
    &:focus {
        border: 3px solid $focus_color;
        outline: none;
        text-shadow: 0 0 0 red;
        border-radius: 1rem;
      }
}

.punctuation{
    margin-right: 2px;
    margin-left:0px;
    border-bottom: 2px solid $emphasis_green;
    // background-color: yellow;

}


.space{
    margin-right: 2px;
    margin-left:2px;
    display: block;
    border-bottom:2px solid $emphasis_purple;

    // border-bottom: 1px solid hotpink;
}    


.letter{
    // border-bottom: 1px solid darkblue;
    margin-right: 2px;
    margin-left:2px;
    border: 2px solid $emphasis_blue;
    border-radius: 1rem;


}

.hidden{
    visibility: hidden;
}