@import "../../scss/variables.scss";

.complete-text {
  border: 5px solid $emphasis_purple;
  border-radius: 1rem;
  width: 75%;
  margin-top: 10rem;
  background-color: $main_color;
  color: $emphasis_blue;
  font-size: 20px;
  font-weight: bold;
}
