@import "./scss/variables";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

html {
  background-color: $main_color;
  font-size: 10px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.basic-char-box {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  // color: transparent;
  text-shadow: 0 0 0 $black;
  width: 3rem;
  height: 3rem;
  cursor: text;
  font-size: 20px;
  margin-bottom: 5px;
  background-color: $main_color;
}

.menu {
  width: 100vw;
  background-color: $secondary_main_color;
  .menu-items {
    display: inline-block;
    .title {
      margin: 0 10px 0 10px;
      font: bold 24px/30px Georgia, "Times New Roman", Times, serif;
      color: $title_color;
    }
    .portfolio-icons-container {


      .portfolio-icons {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

body {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 5rem;
  text-align: center;
}

.btn {
  cursor: pointer;
}


.rtl {
  direction: rtl;
}
