/* You can add global styles to this file, and also import other style files */
*{
    padding:0px;
    margin:0px;
}

html{
    background-color: #FAF4E1;
    // background-color:pink;
    font-size:10px;
}



body{
    height: 100000px;
    // height: 100vh;
    // overflow-y: hidden;
    position: fixed;
}


